# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# User-specific stuff:
.idea/

# mpeltonen/sbt-idea plugin
.idea_modules/
